<h2>About</h2>

<ul>
  <li><a href="http://www.simulateearth.com" target="_blank">simulateearth.com</a></li>
  <li><a href="https://www.facebook.com/pg/Simulate-Earth-153046985252395/">Facebook Group</a></li>
  <li><a href="https://github.com/Simulateearth/simearthfe" target="_blank">Simulate Earth Frontend</a></li>
  <li><a href="https://github.com/Simulateearth/simearthcore" target="_blank">Simulate Earth Core</a></li>
</ul>

<img src="https://media.giphy.com/media/3o85xCVo1diTHyIoPC/giphy.gif" width="50%">